<template>
 <v-container fluid style="width: 80%">
  <v-row>
   <v-col
    v-for="video in video"
    :key="video.index"
    md="4"
    xl="4"
    xs="4"
    sm="6"
   >
    <v-card>
      <iframe src="https://player.vimeo.com/external/269971860.sd.mp4?s=a3036bd1a9f15c1b31daedad98c06a3b24cdd747&profile_id=164&oauth2_token_id=57447761" frameborder="0" width="200" height=""></iframe>
     <div style="display: flex; justify-content: space-between">
      <a :href="video.author_url" class="gallery_author"
      ><v-card-title> {{ video.author }} </v-card-title>
      </a>
      <v-card-actions v-if="galleryMode">
       <v-icon v-if="!video.like" @click="likeVideo(image.id)">
        mdi-heart
       </v-icon>
       <v-icon v-else color="red" @click="likeVideo(image.id)">
        mdi-heart
       </v-icon>
      </v-card-actions>

      <v-card-actions v-else>
       <v-icon @click="deleteFromLike(video.id)"> mdi-delete </v-icon>
      </v-card-actions>
     </div>
    </v-card>
   </v-col>

<!--   <CoolLightBox :items="photos" :index="index" @close="index = null">-->
<!--   </CoolLightBox>-->
  </v-row>
  <v-row justify="center" class="mt-8" rounded>
   <v-col>
    <v-pagination
     v-show="galleryMode"
     v-model="page"
     :total-visible="7"
     :length="50"
     circle
    ></v-pagination>
   </v-col>
  </v-row>
 </v-container>
</template>

<script>
import CoolLightBox from 'vue-cool-lightbox';
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css';
import store from '../store';
// id: item.id,
//  index,
//  link_video: item.video_files.link,
//  thumb: item.image,
//  src: item.src.large,
//  author: item.user.name,
export default {
 name: 'VideoGrid',
 store,
 components: {
  CoolLightBox,
 },
 props: {
  video: {
   type: Array,
   required: true,
  },
  total: {
   type: Number,
   default: 300,
  },
  videoCount: {
   type: Number,
   default: 30,
  },
  galleryMode: {
   type: Boolean,
   default: false,
  },
 },
 data() {
  return {
   page: 1,
   index: 1,
   current: 1,
   size: '',
   rangeBefore: 3,
   rangeAfter: 1,
   isSimple: false,
   isRounded: false,
   prevIcon: 'chevron-left',
   nextIcon: 'chevron-right',
  };
 },
 watch: {
  page() {
   this.$store.commit('updatePagination', this.page);
  },
 },
 updated() {
  this.page = Number(this.$store.state.paginationNumber);
 },
 methods: {
  likePhoto(id) {
   this.$emit('likeVideo', id);
  },
  deleteFromLike(id) {
   this.$store.commit('deleteLikeVideo', id);
  },
 },
};
</script>

<style scoped lang="sass">
.color_pallete
 width: 30px
 height: 30px
 border: 1px solid black
</style>
