<template>
 <v-app-bar color="purple darken-4" app hide-on-scroll>
  <v-btn class="logo_nav" nuxt color="error" to="/">
   <v-toolbar-title class="toolbar__logo">
    Pixels
   </v-toolbar-title>
  </v-btn>
  <NuxtLink style="padding-left: 20px" to="/" color="primary" class="nav_wrap__link">
   {{ $t('home') }}
  </NuxtLink>
  <NuxtLink to="/search" class="nav_wrap__link">
   {{ $t('search') }}
  </NuxtLink>
  <NuxtLink to="/likes" class="nav_wrap__link">
   {{ $t('collection') }}

  </NuxtLink>
  <v-spacer></v-spacer>
  <v-menu
   :rounded="rounded"
   offset-y
  >
   <template v-slot:activator="{ attrs, on }">
    <v-btn
     color="red"
     class="white--text ma-5"
     v-bind="attrs"
     v-on="on"
    >
     {{ $i18n.locale }}
    </v-btn>
   </template>

   <v-list>
    <v-list-item
     v-for="item in langs"
     :key="item"
     @click="updateLang(item.lang)"
     style="display: flex; align-items: center; height: 10px;"
     link
    >

     <CountryFlag :country="item.icon" size="medium" style="margin-right: 0px; min-width: 50px;"/>
     <v-list-item-title v-text="item.lang">

     </v-list-item-title>

    </v-list-item>
   </v-list>
  </v-menu>
 </v-app-bar>
</template>

<script>
import CountryFlag from 'vue-country-flag'

export default {
 data() {
  return {
   btns: [
    ['Removed', '0'],
    ['Large', 'lg'],
    ['Custom', 'b-xl'],
   ],
   colors: ['deep-purple accent-4', 'error', 'teal darken-1'],
   items: [...Array(4)].map((_, i) => `Item ${i}`),
   langs: [
    {lang: 'en', icon: 'gb'},
    {lang: 'ru', icon: 'ru'},
    {lang: 'he', icon: 'il'},
   ]
  }
 },
 components: {
  CountryFlag
 },
 methods: {
  async logout() {
   await this.$auth.logout();
  },
  updateLang(lang) {
   this.$i18n.setLocale(lang)
  }
 }
}
</script>


<style scoped lang="sass">
.toolbar__logo
 color: white
 font-weight: bold
 font-size: 24px

.nav_wrap__link
 font-size: 22px
 text-decoration: none
 color: white
 font-weight: bold
 margin-right: 1.3em

 &:hover
  color: red

$breakpoint-tablet: 608px
@media (min-width: $breakpoint-tablet)

.toolbar__logo
 font-size: 20px

.nav_wrap
 width: 300px
 padding-left: 1rem

 .nav_wrap__link
  font-size: 18px
  padding-left: 0

 @media screen and (max-width: 600px)
  .nav_wrap__link
   font-size: 14px
</style>
